h1{
	color:#333366;
}
td{
	color:#ff6666;
}

body{
	background-color:#cccccc;
}

.supBar{
	border-style:none;
	background-color:#333333;
	padding-top:20px;
	padding-left:10px;
	padding-bottom:0px;
	height:30px;
	width:100%;
}

.secBar{
	border-style:none;
	background-color:#333333;
	height:30px;
	padding-top:5px;
	padding-bottom:10px;
	width:100%;
}

a:link, a:visited{
	background-color:#333333;
	color:#999999;
	padding:10px;
	text-decoration:none;
}

a:hover, a:active{
	background-color:#00000080;
	color:#cccccc;
	padding:10px;
	text-decoration:none;
}

.areaSite, .canvas{
	border-style:none;
	left:20%;
	padding-top:10px;
	padding-left:20%;
}
